@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --red: #da5e5e;
    --blue: #697dd9;
    --light-red: #f8e0e0;
    --light-blue: #e1e5f7;
    --gray: #d5d5d5;
}

* {
    font-family: "Roboto Slab", sans-serif;
    box-sizing: border-box;
    font-weight: 350;
    font-size: max(3vmin, 14pt);
}

h1,
h2,
h3 {
    font-weight: 450;
}

h1 {
    font-size: max(5vmin, 18pt);
}

h2,
h3 {
    font-size: max(4vmin, 16pt);
}

html,
body,
#containing {
    min-width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}

button {
    border: none;
    border-radius: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

section {
    padding: 20px max(20px, 50% - 600px);
}

th {
    font-weight: bold;
}

/* topbar items */
#topbar {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* make top bar stay at the top */
    position: sticky;
    top: 0;
    z-index: 100;
    pointer-events: none;
}

#topbar * {
    pointer-events: all;
}

#topbar #navigation-menu-button {
    height: 2rem;
    aspect-ratio: 1 / 1;
}

#topbar #navigation-menu-button img {
    /* use display: block so line-height does not affect size */
    display: block;
}

#topbar #login {
    background-color: white;
    border: 2px solid black;
    padding: 0 2rem;
    /* center text */
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes navigation-menu-open {
    from { top: -100%; }
    to { top: 0%; }
}

@keyframes navigation-menu-close {
    from { top: 0%; }
    to { top: -100%; }
}

@keyframes navigation-menu-shadow-open {
    from { opacity: 0; }
    to { opacity: 20%; }
}

@keyframes navigation-menu-shadow-close {
    from { opacity: 20%; }
    to { opacity: 0; }
}

#navigation-menu {
    padding: 4rem;
    width: 100%;
    position: fixed;
    top: -100%;
    background-color: white;
    z-index: 2;
}

#navigation-menu.opened {
    animation: navigation-menu-open 0.2s 1;
    top: 0%;
}

#navigation-menu.closed {
    animation: navigation-menu-close 0.2s 1;
}

#navigation-menu-shadow {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

#navigation-menu-shadow.opened {
    opacity: 20%;
    pointer-events: all;
    animation: navigation-menu-shadow-open 0.2s 1;
}

#navigation-menu-shadow.closed {
    opacity: 0;
    animation: navigation-menu-shadow-close 0.2s 1;
}

#navigation-menu table {
    width: 100%;
}

#navigation-menu table td {
    text-align: center;
}